<!doctype html>
<html lang="{{ locale }}">
    <head>
        <title>{% if page_title != ''%}{{ page_title }} | {% endif %}{{ app_params.application_name }}</title>
        <meta http-equiv="content-language" content="{{ locale }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('website', '/bootstrap.min.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ absolute_url('homepage', {'locale': locale}) }}">{{ app_params.application_name }}</a>
                <ul class="navbar-nav">
                    {{ render_controller(
                        'App\\NavigationMenu\\NavigationMenuSubcontroller::menu',
                        {
                            'locale': locale
                        }
                    ) }}
                    <li class="navbar-item"><span class="nav-link">&bull;</span></li>
                    {% for locale_k, locale_v in app_params.l10n__locales %}
                        <li class="nav-item">
                            {% if attribute(alternates, locale_k) is not empty %}
                                <a class="nav-link {% if locale_k == locale %}active{% endif %}" href="{{ attribute(alternates, locale_k) }}">{{ locale_v.name }}</a>
                            {% else %}
                                <span class="nav-link">{{ locale_k }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {% block main %}
        {% endblock %}
        <footer class="mt-5 p-3 bg-dark text-white">
            Website powered by <a href="https://vitya.io/" target="_blank">Vitya</a>
        </footer
        <script src="{{ asset('website', '/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
