{% extends 'layout.twig' %}

{% block main %}

<div class="mt-5">
    <div class="container">
        <h1 class="display-1">{{ attribute(static_page.title, locale) }}</h1>
        <div class="row mt-4">
            <div class="col-lg-8">
                {{ attribute(static_page.body, locale) | raw }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
