<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            {% if article.main_image.entities is not empty and article.main_image.entities[0]['class'] == 'App\\Image\\Image' %}
                <img class="w-100" src="{{ image_url('/entities/images/' ~ article.main_image.entities[0]['id'] ~ '/image', 'thumbnail') }}">
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <a href="{{ url('article-view', {'locale': locale, 'id': article.id}) }}"><h4 class="card-title">{{ attribute(article.title, locale) }}</h4></a>
                <div class="card-text">
                    {{ attribute(article.teaser, locale) | raw }}
                </div>
                <p class="card-text"><small class="text-muted">{{ article.creation_uts | date('d.m.Y, H:i') }}</small></p>
            </div>
        </div>
    </div>
</div>
