{% extends 'layout.twig' %}

{% block main %}

<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                {% if article.main_image.entities is not empty and article.main_image.entities[0]['class'] == 'App\\Image\\Image' %}
                    <img class="w-100" src="{{ image_url('/entities/images/' ~ article.main_image.entities[0]['id'] ~ '/image', 'medium') }}">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <h1 class="display-1">{{ attribute(article.title, locale) }}</h1>
                <p class="text-muted">
                    <strong>{{ article.author }}</strong>
                    <br>
                    {{ article.creation_uts | date('d.m.Y, H:i') }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        {% for composite in article.body %}
            {% if composite.class_name == 'App\\Composite\\TextComposite\\TextComposite' %}
                <div class="row mt-5">
                    <div class="col-9 p-5 {% if loop.index % 2 == 0 %}offset-3{% endif %} {% if loop.index % 2 == 0 %}bg-secondary text-white{% else %}bg-light text-black{% endif %}">
                        {{ attribute(composite.html, locale) | raw }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
