{% for item_id, item_children in navigation_menu_items %}
    {% set item = navigation_menu_items[item_id] %}
    <li class="nav-item">
        <a class="nav-link" href="{{ attribute(item.url, locale) }}">{{ attribute(item.title, locale) }}</a>
    </li>
{% endfor %}
