{% extends 'layout.twig' %}

{% block main %}

<div class="px-5 py-5 bg-primary text-white">
    <div class="container">
        <h1 class="display-1">
            {% if locale == 'en' %}
                Welcome, lorem ipsum lovers!
            {% elseif locale == 'fr' %}
                Bienvenue aux amateurs de lorem ipsum !
            {% endif %}
        </h1>
        <p class="mt-5">
            <a class="btn btn-outline-light btn-lg" href="{{ url('static-page-view', {'locale': locale, 'id': 1}) }}">
                {% if locale == 'en' %}About this website...{% elseif locale == 'fr' %}À propos de ce site...{% endif %}
            </a>
        </p>
    </div>
</div>
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="display-3">{% if locale == 'en' %}Latest articles{% elseif locale == 'fr' %}Derniers articles{% endif %}</h1>
            </div>
            <div class="col-lg-8">
                {% for article_id in article_ids %}
                    {{ render_controller(
                        'App\\Article\\ArticleSubcontroller::card',
                        {
                            'locale': locale, 
                            'id': article_id
                        }
                    ) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
